<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nouno.locateme">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <application

        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_usthb_prob"
        android:label="My USTHB"
        android:roundIcon="@mipmap/ic_launcher_usthb_prob"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SearchQueryTwoActivity"
            android:label="Où aller ?"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".Activities.SetMarkerActivity"
            android:label="Sélectionner un lieu "
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".Activities.NavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Activities.AnneeLicense"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme" />
        <activity
            android:name=".Activities.FiliereActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme" />
        <activity
            android:name=".Activities.FaculteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme" />
        <activity
            android:name=".Activities.SectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme" />


        <activity
            android:name=".Activities.NewMainAct"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme" />
        <activity
            android:name=".Activities.AnneMasterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme" />
        <activity
            android:name=".Activities.StartActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_start" />
        <activity
            android:name=".Activities.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AuthorizationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme" />
        <activity
            android:name=".Activities.PreparationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme" />
        <activity
            android:name=".Activities.WaitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme" />
        <activity android:name=".Activities.DownloadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme"></activity>
    </application>

</manifest>